body {
	margin: unset;
	background-color: black;
	color: white;
}

.grid {
	margin-top: 0px;
	margin-bottom: 0em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 10em 1fr 1fr;
	padding-top: 0px;
}

td {
	width: 25px;
	height: 25px;
	border: 1px solid grey;
}

.light_blue {
	background-color: lightblue;
}
.light_green {
	background-color: lightgreen;
}

.green {
	background-color: green;
}

.orange {
	background-color: orange;
}

.blue {
	background-color: blue;
}

.red {
	background-color: red;
}

.purple {
	background-color: indigo;
}

.pink {
	background-color: violet;
}

.yellow {
	background-color: #ffd700;
}

table {
	background-color: white;
	border-collapse: separate;
	border-spacing: 0 0;
}

.border {
	border-radius: 20px;
	border: 10px gray solid;
	box-shadow: inset 0px 0px 18px rgb(59, 20, 20);
	margin: 0.5em;
}

.box {
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 5px 5px 5px gray;
}

.multicolored {
	background-image: linear-gradient(to left, violet, blue, green, orange, red);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
}

.multicolored_v {
	background-image: linear-gradient(
		to top,
		violet,
		lightblue,
		lightgreen,
		orange,
		yellow,
		red
	);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
}

.title {
	font-size: 8em;
	margin-top: 0em;
	margin-bottom: -20px;
	text-align: center;
	grid-row: 1;
	grid-column: 1/3;
	align-self: center;
	-webkit-text-stroke: 3px grey;
	-webkit-text-fill-color: transparent;
	
}

.score_box {
	grid-row: 2;
	grid-column: 2;
	text-align: center;
	font-size: 1.5em;
}

.buttons button{
	font-size: 1.5em;
	border-radius: 15px;
	border: 5px solid grey;
	width: fit-content;
	margin: auto 10px;
}

.buttons button:hover,
#play:hover {
	box-shadow: inset 0px 0px 18px gray;
}

#app {
	grid-column: 1;
	grid-row: 2/4;
	display: inline-flex;
	justify-content: center;
}

#highscore {
	grid-column: 2;
	grid-row: 3;
	text-align: justify;
	padding: 0.2em 1em;
	font-size: 1.5em;
	
}

#highscore h3 {
	text-align: center;
	font-size: 2em;
	margin: 0em;
}

#Message {
	text-align: center;
	font-size: 4em;
	display: none;
}

.overlay {
	position: fixed;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 2;
	cursor: pointer;
}

.hidden {
	display: none;
}

.overlay h1 {
	display: inherit;
	font-weight: bold;
	font-size: 10em;
	margin: 0em auto;
	-webkit-text-stroke: 5px black;
	-webkit-text-fill-color: transparent;
}

.overlay #start {
	align-self: center;
}

.overlay #Message {
	display: inline-block;
	-webkit-text-stroke: 3px black;
	-webkit-text-fill-color: transparent;
}

header {
	background-image: url("images/tetris-wallpaper-18.jpg");
	min-height: 20em;
	height: 50vw;
	max-height: 90vh;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-flow: column nowrap;
}

#play {
	background-color: white;
	border: 3px solid grey;
	font-size: 3em;
	border-radius: 10px;
	text-align: center;
	justify-self: center;
}

.nav {
	display: inline-flex;
	width: 90%;
	max-width: 1000px;
	justify-content: space-around;
	align-content: center;
}

a {
	width: fit-content;
	padding: 10px;
	align-self: center;
}

.nav a {
	text-decoration: unset;
	color: white;
}

.nav a:hover {
	background-color: white;
	color: black;
}

nav {
	display: inline-flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 0px;
}

main {
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(4, 1fr);
}

.about_box {
	border-radius: 20px;
	box-shadow: inset 0px 0px 28px gray;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-content: center;
	justify-content: center;
	text-align: center;
	color: black;
}

a.about_box {
	padding: 0px;
}

.about_box img {
	max-width: 80%;
	max-height: 80%;
	align-self: center;
}

.row_one {
	grid-row: 1;
}

.row_two {
	grid-row: 2;
}

.row_three {
	grid-row: 3;
}

.row_four {
	grid-row: 4;
}
.row_five {
	grid-row: 5;
}

.column_one {
	grid-column: 1;
}

.column_two {
	grid-column: 2;
}

.column_three {
	grid-column: 3;
}

.column_four {
	grid-column: 4;
}


p {
	padding: 5px 15px;
}

.two_columns{
	height:50vh;
	width: 90%;
	align-self: center;
	font-size: 1.3em;
	display: grid;
	grid-template-columns: 2fr 1fr ;
	column-gap: 25px;
	padding:0;
	margin:0;
}

.two_columns h2{
	font-size: 1.5;
	padding: 0px;
	margin: 5px;
}

.two_columns p{
	padding: 0px;
	margin: 0;
	align-self: center;
}

#close{
	align-self: flex-end;
	margin-right: 50px;
	margin-bottom: 0px;
	margin: 0px 50px 0px ;
}

.input{
	font-size: 1.5em;
    border: 5px solid grey;
    border-radius: 15px;
    width: fit-content;
    margin: 10px auto;
}

#directions .overlay{
	background-color: rgba(0, 0, 0, .9);
	
}

.overlay.about_box .title{
	-webkit-text-stroke: 3px gray;
	-webkit-text-fill-color: transparent;
}

.about_box h2.title{
	transform: rotate(45deg);
	font-size: 6em;
}