body{
    background-color: black;
    color: white;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 15em 1fr 1fr;
}

td {
    width: 25px;
    height: 25px;
    /* border: 1px solid black; */
    margin: 0px;
    padding:0px;
}

.green {
    background-color: green;
}
.orange {
    background-color: orange;
}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.purple {
    background-color: indigo;
}
.pink {
    background-color: violet;
}
.yellow {
    background-color: 	#FFD700;
}

table {
     background-color: white;
}

.border {
    border-radius: 20px;
    border: 10px gray solid;
    box-shadow: inset 0px 0px 18px gray;
    margin: .5em;
}

.box {
    border-radius: 5px; 
    box-shadow: 2px 2px 1px black;
}

.multicolored {
    background-image: linear-gradient(to left, violet,blue,green, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.multicolored_v {
    background-image: linear-gradient(to top, violet,lightblue,lightgreen,orange,yellow,  red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.title {
    font-size: 8em;
    margin-top: .3em;
    margin-bottom: 0em;
    text-align: center;
    grid-row: 1;
    grid-column: 1/3;
    align-self: center;
    -webkit-text-stroke:3px grey;
    -webkit-text-fill-color:transparent;
}

.score_box{
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    font-size: 1.5em;
}

#start{
    font-size: 1.5em;
    border-radius: 15px;
    border: 5px solid grey;

   width: fit-content;
}

#start:hover {
    box-shadow: inset 0px 0px 18px gray;
}

#app {
    grid-column: 1;
    grid-row: 2/4;
    display: inline-flex;
    justify-content: center;
}


#highscore {
    grid-column: 2;
    grid-row: 3;
    text-align: justify;
    padding: .2em 1em;
    font-size: 1.5em;
     /* background-color: rgba(255,255,255, .2); */
}

#highscore h3{
    text-align: center;
    font-size: 2em;
    margin: 0em;
   
}

#Message{
    text-align: center;
    font-size: 4em;
    display: none;
}

.overlay {
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    background-color: rgba(255,255,255, .8);
    z-index: 2;
    cursor: pointer;
  }

div h1 {
      display: none;
  }

  .overlay h1{
      display: inherit;
      font-weight: bold;
font-size: 10em;
margin: 0em auto;
 -webkit-text-stroke:5px black;
-webkit-text-fill-color:transparent;
  }

  .overlay #start {
      align-self: center;
      
  }

.fade_Background {
    background-color: rgba(25,25,25, .3);
}
.overlay #Message{
    display: inline-block;
    -webkit-text-stroke:3px black;
    -webkit-text-fill-color:transparent;
}